body {
    margin: 0;
    font-family: "Abril Fatface", serif,  "Amiko", sans-serif ;
    background-color: black;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
    color: white;
}

img {
    max-width: 100%;
    display: block;
}

.contenitore {
	max-width: 1100px;
	margin: 0 auto;
}

header {
 display: flex;
 justify-content: space-between;
 padding: 16px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

header a {
  color: white;
  text-decoration: none;
}

header a:hover {
    color: white;
    text-decoration: underline;
  }

.infohome {
 position: relative;
 display: flex;
 flex-direction: column;
}

.testo {
   position: absolute;
   background-color: rgba(0, 0, 0, 0.8);
   color: black;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
   font-family: "Amiko", sans-serif ;
   
}

.testo h1 {
color: #7e1fb9;
font-family: "Abril Fatface", serif;
font-size: 40px;
}
.text1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}
.testo1 {
    color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family: "Amiko", sans-serif ;
}

.image img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.imgartisti {
    position: relative;
}

.text2{
    padding: 5%;
    display: flex;
    justify-content: center;
   
}

.text2-content{
    color: white;
    width: 100%;
    font-size: 15px;
    font-family: "Amiko", sans-serif ;
}

.grid {
    display: grid;
    grid-gap: 150px;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    display: grid;
    place-items: center;
}

.AJ p {
    color: #7e1fb9;
    font-family: "Abril Fatface", serif;
    position: relative;
    left: 210px;
    top: 100px;
    font-size: 18px;
}

.MP p {
    color: #7e1fb9;
    font-family: "Abril Fatface", serif;
    position: relative;
    left: 210px;
    top: 100px;
    font-size: 18px;
}

.ER p {
    color: #7e1fb9;
    font-family: "Abril Fatface", serif;
    position: relative;
    left: 210px;
    top: 100px;
    font-size: 18px;
}

.HC p {
    color: #BB9714;
    font-family: "Abril Fatface", serif;
    position: relative;
    left: 210px;
    top: 100px;
    font-size: 18px;
}

.JJ p {
    color: #BB9714;
    font-family: "Abril Fatface", serif;
    position: relative;
    left: 210px;
    top: 100px;
    font-size: 18px;
}

.MT p {
    color: #BB9714;
    font-family: "Abril Fatface", serif;
    position: relative;
    left: 210px;
    top: 100px;
    font-size: 18px;
}

.PB p {
    color: #7e1fb9;
    font-family: "Abril Fatface", serif;
    position: relative;
    left: 210px;
    top: 100px;
    font-size: 18px;
}

.IC p {
    color: #7e1fb9;
    font-family: "Abril Fatface", serif;
    position: relative;
    left: 210px;
    top: 100px;
    font-size: 18px;
}

.SM p {
    color: #7e1fb9;
    font-family: "Abril Fatface", serif;
    position: relative;
    left: 210px;
    top: 100px;
    font-size: 18px;
}



.AJ1 {
 position: absolute;
}

.AJ1 h1 {
    color: #BB9714;
    font-family: "Abril Fatface", serif;
    font-size: 30px;
}

.AJ1 img {
    height: 20%;
    width: 20%;
    padding-top: 20px;
}
.Adrian-Johnson{
    width: 100%;
    height: 100vh;
    padding: 5% 5%;
}
.AJ1 p {
    color: white;
    font-size: 15px;
    padding-top: 20px;
    width: 60%;
    font-family: "Amiko", sans-serif ;
}

.AJ2 h2 {
position: absolute;
}

.AJ2 h2 {
    color: #ffffff;
    font-family: "Amiko", sans-serif ;
    font-size: 30px;
    position: relative;
    bottom: 545px;
    left: 1000px;
}

.item {
 position: absolute;
}

.item {
display: grid;
grid-template-columns: repeat(2, 250px);
grid-template-rows: repeat(2, 250px);
gap: 10px;
position: relative;
top: 100px;
left: 850px;
}

footer {
    margin: 5%;
    border-top: 1px solid #ccc;
  }

  .footer-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    font-size: 14px;
  }